.top-section {
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.navbar {
    width:100%;
    overflow:hidden;
    display:inline-block;
}

.landing-background-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.landing-background {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 20vw;
} 

.body-wrapper {
    overflow-x: hidden !important;
    width: 100vw;
    top: 0;
    left: 0;
}

body {
    margin: 0;
    padding: 0;
}

 a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
 }

.navbar-item {
    font-weight: bold;
    z-index: 1;
    color: #909090;
    opacity: 0.75;
    font-size: clamp(3px, 3vw, 25px);
    padding: clamp(3px, 2vw, 25px);
    margin-top: 0.2em;
    width:auto;
    border:none;
    display:block;
    outline:0;
    float:left;
    text-shadow: 1px 1px 0px #202020;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.menu-header {
    font-size: 2.5em;
    font-family: Arial;
}

.menu-section{
    padding-left: 25%;
    padding-right: 25%;
}

.menu-item {
    font-family: Georgia;
    font-size: 1.5em;  
    --s: 0.1em;   
    --c: #4682A9;

    padding-bottom: var(--s);
    background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 0.5s;
}



.menu {
    margin: 0;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50%;

    display: none;
    background-color: white;
    padding: 10px;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    z-index: 1;
}

.menu.show {
    display: grid;
}

.menu-icon {
    margin: clamp(10px, 1vw, 30px);
    margin-right: 30px;
    padding: clamp(13px, 0.5em, 0.5em);
    cursor: pointer;
    width: 1em;
    height: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}

.home-icon {
    margin: clamp(10px, 1vw, 30px);
    padding: clamp(13px, 0.5em, 0.5em);
    cursor: pointer;
    width: 1em;
    height: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}


.title {
    text-shadow: 1px 1px 10px black;
    margin: 0;
    padding: 0;
    font-size: clamp(3rem, 7vw, 100vw);
}

.subtitle {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    transform: translate(10vw, 40vh);
    color: aliceblue;
    
    animation: typing 4s steps(64), .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}


@keyframes typing {
  from {
    width: 0
  }
}

.bbb { 
    transition: all 0.7s;
    font-size: clamp(10px, 1.5em, 100px);
    text-align: center;
    font-weight: 499;

    margin: 3vh;
    height: 2vh;
    width: 15vw;
    padding: 2vh;
    position: absolute;
    z-index: 2;
    padding-bottom: 3vh;

    background-color: black;
    color: white;

    background: transparent;
    display: block;
    border: none;
    overflow: hidden;

    text-shadow: 1px 1px 2px black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -12px 0px inset;
}

.hidden {
    opacity: 0 !important;
}

.fade-out-fast {
    opacity: 0 !important;
    animation: fadeOut 1s forwards !important; 
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.fade-down {
    transform: translateY(20px);
}

.fade-up {
    transform: translateY(-20px);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards; 
}

.fade-in-fast {
    opacity: 0;
    animation: fadeIn 1s forwards; 
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-title {
    opacity: 0;
    animation: fadeTitle 1s forwards;
}

@keyframes fadeTitle {
  to {
    opacity: 1;
    transform: translate(10vw, 26vh);
  }
}

.bbb1 {
    bottom: 10vh;
    right: 2vw;
}

.bbb2 {
    bottom: 10vh;
    right: 24vw; 
}

.bbb span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150%;
    z-index: -1;
    border: 4px solid white;
    background: rgba(246, 244, 235, 0.2);
    transition: all 0.7s;
}

.bbb span::before {
    background: rgba(246, 244, 235, 0.2);
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.4s;
}


.wide-only-nav {
    display: block;
    transition: all 0.7s;
}

.scroll-instructions {
    background: linear-gradient(
        to bottom ,
        transparent 60%,
        #ff7276 60%
    );

    font-size: 1vw;
    color: white;
    font-weight: bold;
    width: 22ch;

    animation: typing 2s steps(64), .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s;
}

.about-section {
    width: 100vw;
}

.about-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -4;
    background-color: #F6F4EB; 
}

#about-header-1 {
    background: linear-gradient(
        to bottom,
        transparent 59%,
        #4681A9 60%
    );
}

.about-header {
    font-size: 50px;
    text-align: center;
    font-family: Helvetica sans-serif;
}

.about-border {
    height: 1vh;
    background-color: black;
}

.carousel {
    width: 50vw; 
    height: 40vh; 
    overflow: hidden;
    position: relative;
}

.slides {
    position: relative;
    display: flex;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 1s ease;

    background-size: cover;
    background-position: center;
    position: absolute;
}

.slide:first-child {
    opacity: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 8px;
}

.color-box-1 {
    margin-top: 3%;
    position: absolute;
    width: 80%;
    height: 30%;
    background-color: #C4DFDF;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
    color: black;
}

.about-p {
    font-size: 1.5em;
    color:black;
    width: 50%;
    margin-left: 25%;
    position: relative;
}

.carousel-btn-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}


.carousel-btn-2 {
    transition: all 0.5s;
    padding: clamp(13px, 0.5em, 0.5em);
    cursor: pointer;
    width: 3em;
    height: 3em;

    font-size: 2em;
    background-color: white;
    color: #090B14;
    border-radius: 100%;
    border: 2px solid #090B14;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-weight: bolder;
    position: absolute;
    top: 50%;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
}

.prev-btn-2 {
    left: 12%;
}

.next-btn-2 {
    right: 14%;
}

@keyframes fadeInScroll {
    from {
        opacity: 0;
        transform: translateY(20px);
    } 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-scroll, .fade-in-scroll-slow {
    opacity: 0;
}

.low-highlight-black {
    background: linear-gradient(
        to bottom ,
        transparent 60%,
        black 60%
    );
}

.low-highlight-white {
    background: linear-gradient(
        to bottom ,
        transparent 60%,
        white 60%
    );
}

.low-highlight-red {
    background: linear-gradient(
        to bottom ,
        transparent 60%,
        #ff7276 60%
    );
}

.low-highlight-blue {
    background: linear-gradient(
        to bottom ,
        transparent 60%,
        #91C8E4 60%
    );
}

.low-highlight-dark-blue {
    background: linear-gradient(
        to bottom ,
        transparent 60%,
        #4682A9 60%
    );
}

.background-div {
    position: relative; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slinks-bg {
    position: relative;
    margin-top: 5vh; 
    height: 40vh;
    width: 100vw;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
 
    background-image: url('images/surfrider-links.png');
    background-attachment: fixed;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slinks-header {
    text-align: center;
    font-family: Georgia;
    font-size: 3em;
    
    margin-top: 10vh;
}


#link-line-break {
    background-color: white;
    position: relative;
    height: 0.3vh;
    width: 60%;
    margin-left: 20%;
    border-radius: 10px;
}

#link-flexbox{
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    
    height: 20vh;
    width: 70vw;
    margin-left: 15vw;
}

.slink {
    text-shadow: 2px 2px 0px white;
    color: #303030;
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 5vh;
    transition: color 0.5s, margin-top 0.3s, font-size 0.3s;
}

#about-2 {
    padding-bottom: 30px;
    background-color: #F6F4EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -1 !important;
}

#about-header-2 {
    background: linear-gradient(
        to bottom,
        transparent 60%,
        #749BC2 60%
    );

    font-size: 3em;
    width: 17ch;
    margin: 4vw;
    margin-bottom: 100px;
}

#goal-flexbox {
    margin-bottom: 50px !important;
    position: relative;
    display: flex;
    width: 80%;
    height: 50vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 4%;
}

.goal-card {
    align-items: center;
    position: relative;
    background-color: #F6F4EB;
    border-radius: 30px;
    height: 100%;
    flex: 1;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.goal-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-size: cover;
    background-position: center;
}

#color-box-2 {
    position: absolute;
    width: 90%;
    height: 60%;
    z-index: 0;
    margin-top: 80px;

    background-color: #EEE3CB;
}

#color-box-3 {
    position: absolute;
    width: 83%;
    height: 75%;
    z-index: 0;

    background-color: #9BABB8;
}

.goal-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.goal-p {
    padding-left: 5px;
    padding-right: 5px;
    font-family: Georgia;
    text-align: center;
    font-size: 1.5em;
}

#goal-note {
    text-align: center;
    font-size: 20px;
}

#goal-line-break {
    background-color: white;
    position: relative;
    height: 0.3vh;
    width: 90%;
    border-radius: 10px;
}

.goal-button {
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    border-radius: 8px;
    border: 3px solid #454545; 
    display: block;
    position: absolute;
    padding: 0.5em 2em;
    text-align: center;
    font-size: 1.20em;
    overflow: hidden;
    color: black;
    bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.goal-button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
}

.goal-button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 1000%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.5s;
}

#about-3 {
    position: relative;
    width: 100vw;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 50px;
 
    background-image: url('images/contributing.png');
    background-attachment: fixed;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.invert {
    color: white;
    mix-blend-mode: difference; /*this is actually so cool*/
}

#about-header-3 {  
    text-shadow: 2px 2px 0px black;
    color: white;
    flex: 1;
    position: relative;
    width: 92vw !important;
    align-items: center;
    width: 17ch;
    margin: 4vw;
    margin-bottom: 70px;
}

#contributing-line-break {
    position: relative;
    background-color: white;
    position: relative;
    height: 0.4vh;
    width: 84%;
    margin-left: 8%;
    border-radius: 10px;
}

#contributing-p {
    flex: 3;
    position: relative;
    text-shadow: 2px 2px 0px black;
    font-size: 2.4em;
    margin-left: 10vw;
    width: 80vw;
    color: white;
}

#about-4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding-top: 35px;
    padding-bottom: 50px;
    background-color: #F6F4EB; 
}

#about-header-4 { 
    padding-top: 50px;
    bottom: 45%;
    position: relative;
    width: 92vw !important;
    align-items: center;
    width: 17ch;
    margin-top: 5.5vh;
    margin-bottom: 70px;
}

#color-box-4 {
    margin-bottom: 5vh;
    margin-top: 17vh;
    position: absolute;
    width: 78vw;
    height: 27.5vh;
    background-color: #91C8E4;
}

#color-box-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 5%;
    position: absolute;
    height: 50%;
    width: 70%;
    background-color: #4682A9;
}

.gi-button {
    border-radius: 8px;
    border: 4px solid black; 
    display: block;
    position: relative;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color:black;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -10px 0px inset;
}

.gi-button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    background: transparent;
    z-index: -1;
}

.gi-button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.5s;
}

.gi-button:active span::before {
    background: black;
}

.gi-about {
    color: #F6F2D4;
    border: 4px solid #F6F2D4;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    padding: 1em 1em;
    font-size: 2em;
    flex: 1;
    height: 20%;
    margin: 5%;
}

.b-menu {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 20vw 23vw 5vw 14.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
    background-color:black;
}

.bmenu-item {
    padding: 20%;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#bmenu-img {
    background-image: url('images/logo-2.png'); 
    top: 25%;
    left: 40%;
    width: 150px;
    height: 150px;
    padding: 0;
}

#bmenu-title {
    font-weight: bold;
    margin-top: 45%;
    width: 100%;
    height: 40%;
    color: white;
    font-size: 2.5em;
}

.bmenu-nav {
    height: 70%;
    width: 100%;
    color: white;
    padding-top: 13vh;
    font-size: 1.8em;
}

.bmenu-link {
    color: #909090;
    transition: all 0.7s;
}

.bmenu-link:visited {
    color: #909090;
}

.cabby-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 25vh;
    width: 60vw;
    margin-left: 20vw;
    position: relative;
}

.cabby-card {
    background-color: white;
    position: absolute;
    border-radius: 15px;
    margin-top: 3%;
    width: 100%;
    height: 97%;
    box-shadow: 0px 10px 50px black, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    z-index: 0;
}   

.cabby-photo {
    position: absolute;
    width: 83%;
    height: 36%;
    border-radius: 15px;
    background-image: url('images/Alex.jpg');
    box-shadow: 0px 10px 0px#151515;
    z-index: 0;
}

.cabby-content-wrapper {
    margin-top: 23vh;
    padding-left: 7vw;
    padding-right: 7vw;
    margin-bottom: 5%;
    height: 45%;
    width: 100%;
    z-index: 0;
}

.cabby-title {
    margin-top: 3%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.cabby-position {
    margin-top: 1%;
    text-align: center;
    font-size: 1.5em;
}

.cabby-border {
    position: absolute;
    inset: 25px;
    border: 2px solid #4682A9;
    border-radius: 15px;
}

.cabby-button span {
    height: 155%;
}

.cabby-button {
    position: relative;
}

#cabby-bg {
    background-image: url('images/cabinet-bg.jpg'); 
    padding-top: 10vh; 
    padding-bottom: 10vh; 
    display: flex; 
    flex-direction: column; 
    z-index: -5;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-aspect-ratio: 1/1) {
    .cabby-content-wrapper {
        margin-bottom: 4vh;
    }

    .bmenu-link {
        font-size: 1em;
    }

    .b-menu {
        height: 100vh;
        grid-template-rows: 30vh 25vh 35vh;
        grid-template-columns: 50vw 50vw;
    }

    .bmenu-nav{
        padding: 20%;
        padding-top: 30%;
    }    

    .horizontal-only {
        display: none
    }

    #bmenu-img {
        left: 20%;
        margin-top: 20%;
        height: 20vh;
        width: 20vh;
    }

    #bmenu-title {
        margin-top: 40%;
        font-size: 2em;
    }
    

    .gi-about {
        padding: 1em 0.5em;
        font-size: 1.5em;
    }

    #about-4 {
        height: 30vh;
    }

    #color-box-4 {
        margin-top: 25%;
        padding: 0;
        height: 50%;
    }

    #color-box-5 {
        margin-top: 4%;
        padding: 0;
        height: 50%;
    }

    #contributing-p {
        margin-top: 50px;
        flex: 4;
        font-size: 1.5em;
        margin-left: 10vw;
        width: 80vw;
        color: white;
    }

    #color-box-3 {
        height: 100%;
        width: 60%;
    }

    #color-box-2 {
        margin-top: 10%;
        width: 80%;
        height: 125vh;
    }

    .goal-p {
        font-size: 0.8em;
    }

    .goal-title {
        padding-top: 0;
        font-size: 1.5em;
    }

    #goal-flexbox {
        width: 80%;
        height: 120vh;
        flex-direction: column;
    }

    .goal-card {
        width: 80%;
    }

    .carousel-btn-2 {
        font-size: 1.5em;
    }
    
    .carousel {
        width: 75vw; 
        height: 40vw; 
        overflow: hidden;
        position: relative;
    }

    .color-box-1 {
        position: absolute;
        width: 90%;
        height: 20%;
        background-color: #C4DFDF;
    }

    .bbb {
        width: 25vw;
        font-size: 1em;
        padding-top:0.8em;
        padding-bottom: 0.8em;
    }

    .bbb1 {
        left: 7vw;
    }

    .bbb2 {
        right: 7vw;
    }

    .subtitle {
        font-size: calc(100vw / 39); 
    }

    .menu {
        width: 100%;
    }
}

@media (pointer: none), (pointer: coarse), (max-width: 900px) {
    .cabby-content-wrapper {
        margin-bottom: 7vh;
        margin-top: 30vh;
        padding-left: 12vw;
        padding-right: 12vw;
    }

    .cabby-title {
        font-size: 1.3em;
    }

    .cabby-position {
        font-size: 1em;
    }

    .cabby-wrapper {
        width: 75vw;
        margin-left: 12.5vw;
    }

    .cabby-desc {
        font-size: 3vw;
    }

    .title {
        color: white !important;
        text-shadow: 1px 1px 5px white !important;
    }

    .gi-button.gi-about {
        border: 3px solid white;
        color: white;
        background-color: black;
    }

    .gi-button.gi-about span {
        background-color: black;
    }

    .menu-1 {
        margin-top: 50px;
    }

    #about-3 {
        font-size: 1.5em;
        background-attachment: scroll;
    }

    .bbb span {
        border: 3px solid white;
    }

    #slinks-bg {
        padding-top: 25%;
        padding-bottom: 25%;
        max-width: 1400px;
        background-attachment: scroll;
    }

    .goal-image {
        max-width: 1400px;
    }

    .landing-background {
        border-bottom-left-radius: 15vh;
        max-width: 1400px;
        background-attachment: scroll;
    }

    .b-menu {
        height: 100vh;
        grid-template-rows: 30vh 25vh 35vh;
        grid-template-columns: 50vw 50vw;
    }

    #bmenu-img {
        left: 15%;
        margin-top: 20%;
        height: 15vh;
        width: 15vh;
    }

    #bmenu-title {
        margin-top: 40%;
        font-size: 1.5em;
    }

    #email-me {
        font-size: 12px !important;
    }

    #about-header-2 {
        font-size: 2em;
    }

    .gi-about {
        padding:0.75em 0.5em;
        font-size: 1.25em;
        margin: 4vw;
    }

    #color-box-5 {
        margin-top: 10%;
        width: 75%;
        height: 30%;
    }

    #color-box-4 {
        margin-top: 30%;
        height: 30%;
        width: 82%;
    }

    #about-header-3 {
        margin-bottom: 10px;
    }

    #contributing-p {
        margin-top: 30px;
        flex: 4;
        font-size: 1.2em;
        margin-left: 10vw;
        width: 80vw;
        color: white;
    }

    #goal-note {
        font-size: 0.8em;
    }

    #color-box-2 {
        transform: translateY(2%);
        width: 87%;
        height: 170vh;
    }
    
    #goal-flexbox {
        width: 80%;
        height: 160vh;
        flex-direction: column;
    }

    #about-header-2 {
        margin-top: 7vh;
        margin-bottom: 14vh;
    }

    #slinks-bg {
        height: 30vh;
    }

    #slinks-header {
        font-size: 2.1em;
        margin-top: 5vh;
    }

    #link-line-break {
        width: 80%;
        margin-left: 10%;
    }

    .slink {
        font-size: 1em;
    }
    
    .slink:hover {
        font-size: 1.1em;
    }

    .prev-btn-2 {
        left: 20vw;
    }

    .next-btn-2 {
        right: 20vw;
    }

    .carousel-btn-2 {
        top: 0%;
    }

    .about-p {
        margin-top: 12vh;
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-bottom: 0;
    }

    .about-header {
        font-size: 25px;
        margin-bottom: 45px;
    }

    .menu-header {
        padding-top: 60px;
    }

    .wide-only-nav {
        display: none;
    }

    .wide-only {
        display: none;
    }

    .menu {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

    .menu-header {
        font-size: 1.8em;
        padding: 0;
        margin: 0;
    }

    .menu-section{
        padding-left: 25%;
        padding-right: 25%;
        flex: 1;
    }

    .menu-spacer {
        flex: 0.75;
    }

    .scroll-instructions {
        font-size: 1vh;
    }

    .navbar-item:active{
        background-color: rgba(250, 244, 235, 0.4);
        transition: 500ms;
    }

    .menu-item:active{--_p: 100%}

    .menu-icon:active{
        background-color: rgba(250, 244, 235, 0.4);
        color: gray;
    }

    .home-icon:active{
        background-color: rgba(250, 244, 235, 0.4);
        color: gray;
    }

    .bbb:active span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgba(246, 244, 235, 1);
    }

    .bbb:active{
        color: black !important;
    }

    .carousel-btn-1:active{
        color: white;
    }

    .carousel-btn-2:active{
        background-color: #090B14;
        color: white;
        border-radius: 100%;
        border: 10px solid #F6F4EB;
    }

    .slink:active{
        color: black;
        font-weight: bold;
        font-size: 2.1em;
        margin-top: 4vh;
    }

    .goal-button:active span::before {
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 100%;
        background: black;
    }

    .goal-button:active{
        color: white;
        border: 3px solid black; 
    }

    .gi-button:active span::before {
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 100%;
        background: black;
    }

    .gi-button:active{
        color: white;
    }

    .gi-about:active{
        border: 4px solid black;
        font-weight: bold;
    }

    .bmenu-link:active{
        color: white;
    }

    .bmenu-link {
        font-size: 0.8em;
    }

    .news {
        flex: 0.8;
    }
}

@media (pointer: fine) {
    .narrow-only {
        display: none;
    }

    .top-header {
        padding-top: 100px;
    }

    .navbar-item:hover{
        background-color: rgba(250, 244, 235, 0.4);
        transition: 500ms;
    }

    .menu-item:hover {--_p: 100%}

    .menu-icon:hover {
        background-color: rgba(250, 244, 235, 0.4);
        color: gray;
    }

    .home-icon:hover {
        background-color: rgba(250, 244, 235, 0.4);
        color: gray;
    }

    .bbb:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgba(246, 244, 235, 1);
    }

    .bbb:hover {
        color: black !important;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .carousel-btn-1:hover {
        color: white;
    }

    .carousel-btn-2:hover {
        background-color: #090B14;
        color: white;
        border-radius: 100%;
        border: 10px solid #F6F4EB;
    }

    .slink:hover {
        color: black;
        font-weight: bold;
        font-size: 2.1em;
        margin-top: 4vh;
    }

    .goal-button:hover span::before {
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 100%;
        background: black;
    }

    .goal-button:hover {
        color: white;
        border: 3px solid black; 
    }

    .gi-button:hover span::before {
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 100%;
        background: black;
    }

    .gi-button:hover {
        color: white;
    }

    .gi-about:hover {
        border: 4px solid black;
        font-weight: bold;
    }   

    .bmenu-link:hover {
        color: white;
    }
}