.top-section {
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.navbar {
    width:100%;
    overflow:hidden;
    display:inline-block;
}

.landing-background {
    margin: 0;
    padding: 0;
    position: relative;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/waves.png");
} 

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

 a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
 }

.navbar-item {
    font-weight: bold;
    z-index: 1;
    color: #454545;
    opacity: 0.75;
    font-size: clamp(3px, 3vw, 25px);
    padding: clamp(3px, 2vw, 25px);
    margin-top: 0.2em;
    width:auto;
    border:none;
    display:block;
    outline:0;
    float:left;
}

.navbar-item:hover {
    background-color: rgba(250, 244, 235, 0.4);
    transition: 500ms;
}

.menu-container {
    position: relative;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #F6F4EB;
    padding: 10px;
}

.menu-icon {
    margin: clamp(10px, 1vw, 30px);
    padding: clamp(13px, 0.5em, 0.5em);
    cursor: pointer;
    width: 1em;
    height: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}

.menu-icon:hover {
    background-color: rgba(250, 244, 235, 0.4);
    color: gray;
}

.title {
    margin: 0;
    padding: 0;
    font-size: clamp(3rem, 7vw, 100vw);
    transform: translate(10vw, 26vh);
}

.statement {
    margin: 0;
    padding: 0;
    font-size: 2vh;
    transform: translate(10vw, 40vh);
    color: aliceblue;
}

@media (max-width: 600px) {
    .wide_only {
        display: none;
    }

    .menu-icon {
        font-size: 4vh;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media (max-aspect-ratio: 1/1) {
      .bbb {
        width: 25vw !important;
        font-size: 1em !important;
        padding-top:0.8em !important;
        padding-bottom: 0.8em !important;
    }

    .bbb1 {
        left: 7vw !important;
    }

    .bbb2 {
        right: 7vw !important;
    }

      .statement {
        font-size: calc(100vw / 39); 
    }

      .title {
        transform: translate(10vw, 38vh);
    }
}

.bbb { /*big black button*/
    font-size: clamp(10px, 1.5em, 100px);
    text-align: center;
    font-weight: 500;
    color: white;
    margin: 3vh;
    height: 3vh;
    width: 15vw;
    padding: 2vh;
    background-color: black;
    position: absolute;
    border-radius: 30px;
}

.bbb1 {
    bottom: 10vh;
    right: 5vw;
}

.bbb2 {
    bottom: 10vh;
    right: 25vw; 
}

.bbb:hover {
    background-color: rgba(246, 244, 235, 0.4);
    color: black;
    transition: 500ms;
}